body {
  background-color: black;
}

.gray-button {
  background-color: rgb(51, 51, 51);
  color: white;
  font-size: 26px;
  font-family: Arial;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 50px;
  margin-right: 6px;
}

.gray-button-clear {
  font-size: 17px;
}

.yellow-button {
  background-color: orange;
  color: white;
  font-size: 26px;
  font-family: Arial;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 50px;
  margin-right: 6px;
}

.display-calculation {
  color: white;
  font-size:40px;
  font-family: Arial;
  margin-bottom: 10px;
}